* {
    box-sizing: border-box;
}
body {
    background-color: rgba(166, 112, 216, 0.198);
}
.container {
    width: 100%;
    padding: 0 12px;
}
#ten_err,
#toan_err,
#ly_err,
#hoa_err {
    max-width: 150px;
    height: 30px;
    padding: 2px 5px 5px 5px;
    margin-left: 50px;
}

/* ==== form ===== */
.form {
    padding: 10px 0 10px;
}
.form .block {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form .block label {
    white-space: nowrap;
}
.form .block div {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.form .block div input {
    width: 200px;
}
.form .block button {
    margin: 10px 0;
    padding: 10px 25px;
    background-color: rgb(55, 205, 50);
    border-radius: 5px;
    border: none;
}

/* ==== table ===== */
.table {
    padding: 10px 0;
}
.table .table__block {
    overflow-x: auto;
}
.table .table__block table {
    width: 100%;
    border-collapse: collapse;
}
.table .table__block table th,
.table .table__block table td {
    border: 1px solid dodgerblue;
    height: 24px;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
}

/* ==== caculate ===== */
.caculate {
    padding: 10px 0;
}
.caculate .caculate__block {
    text-align: center;
}
.caculate button {
    width: 180px;
    margin: 10px 10px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}
.caculate button:first-child {
    background-color: rgb(234, 246, 70);
}
.caculate button:last-child {
    background-color: rgb(251, 111, 76);
}

@media (max-width: 320px) {
    .form .block div {
        width: 100%;
    }
}